.section ul {
    display: table;      /* Required for table-cell to work on li's */
    padding: 0;          /* Override defaults for lists */
    width: 90%;         /* Get the row full width */
    text-align: center;  /* Centre align grid items */
    margin: 0 auto;
}

.section ul li {
    display: table-cell;   /* Get all images to show in a row */
    text-align: center;    /* Centre align the images */
}

.details, .data {
    font-family: "Roboto Serif", serif;
    color: #2C2D2A;
    font-size: 100%;
    word-break: break-all;
}

.details {
    text-align: right;
    width: 30%;         /* Get the row full width */
}

.data {
    text-align: left;
    width: 70%;         /* Get the row full width */
    color: rgba(0, 0, 0, 0.6);
}