.footer {
  margin: 0 auto;
}

.footer ul {
  display: inline-block;      /* Required for table-cell to work on li's */
  padding: 0;          /* Override defaults for lists */
  margin: 0 auto;      /* Override defaults for lists */
  width: 100%;         /* Get the row full width */
  text-align: center;  /* Centre align grid items */
}

.footer ul li {
  display: inline-block;   /* Get all images to show in a row */
  text-align: center;    /* Centre align the images */
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.footer ul li a {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}