* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #FFEDD5;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

header {
  padding: 32px 0;
  text-align: center;
}

ul {
  max-width: 400px;
  list-style: none;
  display:inline-block;
}

ul li {
  max-width: 400px;
  margin-bottom: 16px;
  display: flex;
}
