.header {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.header h1 {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 1.5rem;
    line-height: 33px;
    font-family: "Roboto Serif", serif;
    text-transform: uppercase;
    color: #995000;
}

.header p {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.7);
}

.header nav {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.header nav a {
    display: inline-block;
    margin: 0 3%;
}