.section {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 24px;
}

.section h2 {
    background-color: #FED7AA;
    padding: 8px 16px;
    text-align: center;
    font-size: 1rem;
    font-family: "Roboto Serif", serif;
    text-transform: uppercase;
    color: #2C2D2A;
    border-style: solid;
    border-color: black
}